@use "./_variables.scss" as *;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin buttonWithIcon($iconUrl, $iconSize) {
    height: 40px;
    background-image: url($iconUrl);
    background-repeat: no-repeat;
    background-color: $primary-color;
    background-size: $iconSize;
    border-radius: 4px;
    color: $primary-lighter;
    border: none;
    text-transform: uppercase;
    font-size: 0.73rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: $secondary-color;
    }
}