@use "./_variables.scss" as *;
@use "./_typefaces.scss" as *;

* {
    margin: 0;
    font-family: "Avenir Next";
    padding: 0;
    color: $primary-dark;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}