$tablet-width: 768px;
$desktop-width: 1280px;

$primary-dark: #323232;
$primary-color: #0095FF;
$primary-light: #AFAFAF;
$primary-lighter: #FFF;
$secondary-dark: #000; //DarkBlack
$secondary-color: #0065AD; //DarkBlue
$secondary-light: #E1E1E1; //mercury
$secondary-lighter: #FAFAFA; //alabaster