@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_reset.scss" as *;

.video {
    &__hero {
        width: 100vw;
        height: 11rem;
        object-fit: cover;

        @include tablet {
            height: 24.5rem;
            object-fit: contain;
            background-color: black;
        }

        @include desktop {
            height: 30rem;
        }
    }

    &__body {
        padding: 0.8rem 0.8rem 0.4rem;

        @include tablet {
            padding: 1.1rem 2.5rem 1.4rem;
        }

        @include desktop {
            display: flex;
            padding: 0 8.1rem;
        }
    }
}