@use "../../styles/partials/_reset.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;


.comment__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include tablet {
        margin-bottom: 1.5rem;
    }
}