@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_reset.scss" as *;
@use "../../styles/partials/_typefaces.scss" as *;
@use "../../styles/partials/_variables.scss" as *;

.nav {
    display: flex;
    padding: 1rem;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2.2rem 1rem 1.9rem;
    }

    @include desktop {
        padding: 1rem 5.7rem 1rem 7rem;
    }

    &__logo {
        width: 100%;
        height: 1.5rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../../assets/images/logo/brainflix-logo.svg");
        margin-bottom: 1rem;

        @include tablet {
            width: 14rem;
            height: 40px;
            margin: 0;
            background-size: 7rem;
        }
    }

    &__search {
        box-sizing: border-box;
        padding-left: 2rem;
        background-image: url("../../assets/images/icons/search.svg");
        background-position: 4% center;
        background-size: 18px;
        background-repeat: no-repeat;
        border-radius: 4px;
        background-color: $secondary-lighter;
        border: 1px solid $secondary-light;
        width: 15rem;
        height: 40px;

        @include tablet {
            position: relative;
            left: 6.3rem;
        }

        @include desktop {
            left: 25rem;
        }

        &::placeholder {
            color: $primary-dark;
            padding-left: 0.4rem;
        }

        &-wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

    }

    &__avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-position: 20% 0;
        background-size: cover;
        background-image: url("../../assets/images/mohan-muruge.jpg");
        border-radius: 50%;
        margin-bottom: 1rem;

        @include tablet {
            width: 40px;
            height: 40px;
            margin: 0;
            position: relative;
            left: 13.3rem;
        }


        @include desktop {
            left: 14rem;
        }
    }

    &__button {
        @include buttonWithIcon("../../assets/images/icons/upload.svg", 23px);
        background-position: 0.5rem center;

        @include tablet {
            width: 18.5rem;
            margin-right: 4.1rem;
        }

        @include desktop {
            width: 15rem;
            margin-right: 7.5rem;
        }
    }

}